#navbar {
  position: fixed;
  top: 0;
  display: flex;
}

#navbar ul {
  display: flex;
}

#mavbar ul li {
  margin-right: 20px;
}

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px){
  body{
    background-color: pink;
  }

}
